/* FONTS */
$montserrat: 'Montserrat', sans-serif;
$fjalla: 'Fjalla One', sans-serif;


/* COLORS */
$theme-color: #e27866;
$blue: #5e7591;
$blue-header: #bdd7e7;
$speed: #7e7e7e;
$graphic-bg: #eae6df;
$text: #383838;
$powered: #2a2a2a;
$white: #fff;
$black:#000;



/* BASICS */
body{
	font-family: $montserrat;
	font-weight: 400;
	font-size: 16px;
	color: $black;
}

strong {font-weight: 700}
video, img {
	max-width: 100%;
	//display:block;
}

img {
	height: auto;
}

iframe {
	max-width: 100%;
	margin-bottom: 60px;
}


// ARTICLE MAIN ELEMENTS

p {line-height: 1.5;}
a {text-decoration:none;}

.iframe-pixel, .ec_visit_pixel{display: none;}


/* HELPERS */
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.text-uppercase {text-transform: uppercase;}

.no-margin {margin: 0;}
.block {display: block;}
.relative {position: relative;}
.absolute {position: absolute;}
.thin {font-weight:400;}
.bold {font-weight:700;}
.extrabold {font-weight:900;}
.font-small {font-size: 30px;}
.font-big {font-size:66px;}
.margin-bottom{margin-bottom: 100px;}

/* CUSTOM */
.color {color: $theme-color;}
.black {color: $black}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 50px;
    iframe {
	    position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}